body{
    background-image: url(vedic.jpeg);
}
.loginpage{
    background-color: aqua;
    width: 50vh;
    padding: 50px;
    text-align: center;
    margin: 100px;
    margin-left: 400px;
    border: 2px solid red;
    border-radius: 10px;
    margin-top: 150px;
}
.login{
    background: linear-gradient(to right, green,blue);
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 10px;

}
.details{
    background-color: brown;
    border-radius: 10px;
    color:white;
    border: 2px solid blue;
    margin: 5px;
    
}


@media (max-width: 768px) {

  .container {
    flex-direction: column;
  }

  .box {
    width: 100%;
  }

  body {
    font-size: 14px;
  }

}